<h1>CleanCode Game of Life game</h1>

<div class="controls">
  <span class="counter">Counter {{ generateCellsMultiplier }}</span>
  <div id="gridCtrl">
    <button (click)="setGridSize(rowSize, colSize)">New Game</button>
    <label for="rowInput" class='label'>Rows</label>
    <input type="number" id="rowInput" min="0" step="1" [value]="rowSize" (input)="rowSize = $any($event.target).value"/>
    <label for="colInput" class='label'>Columns</label>
    <input type="number" id="colInput" min="0" step="1" [value]="colSize" (input)="colSize = $any($event.target).value"/>
  </div>
  <div class="cellsCtrl">
    <button (click)="randomizeCells(randomInputValue)">Randomize cells</button>
    <input type="number" id="randomInput" min="0" step="1" max="rowSize * colSize" [value]="randomInputValue" (input)="randomInputValue = $any($event.target).value"/>
    <button (click)="runTheGame()">Start</button>
    <button (click)="stopTheGame()">Stop</button>
  </div>
</div>

<table id='grid'>
  <tr *ngFor="let row of rows">
    <td *ngFor="let col of row.columns"
        [ngClass]="{'active': col.active}"
        (click)="changeCellStatus( rows.indexOf(row), row.columns.indexOf(col))"
        class="cell">
    </td>
  </tr>
</table>
